<launch>
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <env name="GAZEBO_RESOURCE_PATH" value="$(find servicesim_competition)/worlds:$(find servicesim_competition)"/>
    <env name="GAZEBO_MODEL_PATH" value="$(find servicesim_competition)/models"/>
    <arg name="world_name" value="$(find servicesim_competition)/worlds/create_actor.world" />
    <arg name="gui" value="true"/>
    <arg name="verbose" value="true"/>
  </include>
</launch>
