<launch>
  <arg name="dummy_arg" default="false" />

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <env name="GAZEBO_RESOURCE_PATH" value="$(find servicesim_competition)/worlds"/>
    <env name="GAZEBO_MODEL_PATH" value="$(find servicesim_competition)/models"/>
    <env name="GAZEBO_PLUGIN_PATH" value="$(find servicesim_competition)/plugins"/>
    <arg name="world_name" value="$(find servicesim_competition)/worlds/service.world"/>
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="verbose" value="true"/>
  </include>
</launch>
