<library path="src">
  <class name="ServicesimScore" type="rqt_servicesim_score.servicesim_score.ServicesimScore" base_class_type="rqt_gui_py::Plugin">
    <description>
      A Python GUI plugin to Display Servicesim Score
    </description>
    <qtgui>
      <group>
        <label>Servicesim Tools</label>
        <icon type="theme">folder</icon>
        <statustip>Plugins related to Display Servicesim Score.</statustip>
      </group>
      <group>
        <label>Servicesim Score</label>
      </group>
      <label>ServicesimScore</label>
      <icon type="theme">system-help</icon>
      <statustip>A Python GUI plugin to Display Servicesim Score</statustip>
    </qtgui>
  </class>
</library>
