<library path="src">
  <class name="PanTilt" type="rqt_servicebot_pan_tilt.pan_tilt.PanTilt" base_class_type="rqt_gui_py::Plugin">
    <description>
      A Python GUI plugin to pan and tilt a robot's head with a std_msgs/Float64 message.
    </description>
    <qtgui>
      <group>
        <label>Robot Tools</label>
        <icon type="theme">folder</icon>
        <statustip>Plugins related to robot tools.</statustip>
      </group>
      <group>
        <label>Robot Pan Tilt</label>
      </group>
      <label>PanTilt</label>
      <icon type="theme">system-help</icon>
      <statustip>A Python GUI plugin to pan and tilt a robot's head with a std_msgs/Float64 message</statustip>
    </qtgui>
  </class>
</library>
