<launch>

  <arg name="controllers" default="true" />
  <arg name="dashboard" default="true" />
  <arg name="rviz" default="true" />
  <arg name="teleop" default="true" />

  <include file="$(find servicebot_description)/launch/upload_servicebot.launch" />

  <include file="$(find servicesim_competition)/launch/competition.launch">
  </include>

  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="
    -urdf
    -param robot_description
    -model servicebot
    -x -6.5 -y -18.2 -z 0.75"
  />
    <!--
    -J left_shoulder_joint -0.55
    -J left_upper_arm_joint 1.35
    -J left_elbow_joint -0.5
    -J right_shoulder_joint -0.55
    -J right_upper_arm_joint 1.35
    -J right_elbow_joint -0.5
    -Y 1.57"
     -->
  <group if="$(arg teleop)">
    <node ns="servicebot" name="servicebot_keyboard" pkg="teleop_twist_keyboard" type="teleop_twist_keyboard.py" respawn="false" output="screen">
      <param name="speed" type="double" value="2.2" />
    </node>
  </group>
  <group if="$(arg rviz)">
    <arg name="config_file" value="$(find servicesim)/config/rviz_config.rviz"/>
    <node name="$(anon rviz)" pkg="rviz" type="rviz" respawn="false" output="screen" args="-d $(arg config_file)" />
  </group>
  <group if="$(arg controllers)">
    <include file="$(find servicebot_control)/launch/servicebot_control.launch" />
  </group>
  <group if="$(arg dashboard)">
    <arg name="perspective_file" value="$(find servicesim)/config/servicesim_perspective.perspective"/>
    <node name="$(anon rqt)" pkg="rqt_gui" type="rqt_gui" respawn="false" output="screen" args="--perspective-file $(arg perspective_file)" />
  </group>
</launch>
