<launch>
  <arg name="rviz" default="true" />
  <node name="get_bbox_distance" pkg="servicesim_example_python_solution" type="get_bbox_distance.py"  output="screen" />
  <node name="example_solution" pkg="servicesim_example_python_solution" type="example_solution.py" respawn="false" output="screen" />
  <include file="$(find servicebot_2dnav)/launch/servicebot_move_base.launch" />
  <group if="$(arg rviz)">
    <include file="$(find servicebot_2dnav)/launch/servicebot_nav_rviz.launch" />
  </group>
</launch>
